body {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Gilroy", "Raleway", "Roboto", "Helvetica", "Arial", sans-serif;
}

a {
  text-decoration: none;
}

.align-baseline {
    align-items: baseline;
}

.align-center {
    align-items: center;
}

.clickable {
  cursor: pointer;
}

.flex {
    display: flex;
}

.fill-flex {
    flex: 1;
}

.full-height {
  height: 100%;
}

.full-width {
    width: 100%;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.space-between {
    justify-content: space-between;
}

.wrap-content {
    flex-wrap: wrap;
}

.text-align-center {
  text-align: center;
}

tr:last-child td {
  border-bottom-color: transparent;
}

.date-picker-wrapper {
  margin-top: 8px;
}

.date-picker-wrapper label {
  top: -8px;
}

.date-picker-wrapper label[data-shrink=true] {
  top: 0px;
}

.date-picker-wrapper input {
  padding-bottom: 10.5px;
  padding-top: 10.5px;
}
